.well{
    background-color:#fff!important;
    border-radius:0!important;
    border:#fff solid 5px;
    padding:15px;
}

.well.login-box {
    margin:0 auto;
    margin-top:150px;
}
.well.login-box legend {
  font-size:32px;
  text-align:center;
  font-weight:300;
}
.well.login-box label {
  font-weight:300;
  font-size:18px;

}
.well.login-box input[type="text"] {
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
}

.well.welcome-text{
    font-size:21px;
}


/*Loged in*/
.btn-default {
    background: #ff6262;
    color: #fff;
    text-transform: uppercase;
    font-size:16px;
    border:none;
    padding: 15px 0;
}
.register-btn{
    background: #627c96;
    padding:12px 0;
}

body{
    background-color: #343a40;
}